<div class="container-fluid page-header bg-secondary pt-2 pt-lg-5 pb-2 mb-5">
    <div class="container py-5">
        <div class="row align-items-center py-4">
            <div class="col-md-6 text-center text-md-start">
                <h1 class="text-white mb-4 mb-md-0">Pricing Plan</h1>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <div class="d-inline-flex align-items-center">
                    <a href="" class="btn text-white">Home</a>
                    <i class="fas fa-angle-right text-white"></i>
                    <a href="#" routerLink=""class="btn text-white disabled">Pricing</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ////////////////////////// our pricing plan start ///////////////////////////////////////////////////// -->
<div class="container-fluid pt-5 pb-3">
    <div class="container">
        <h6 class="text-secondary text-uppercase text-center font-weight-medium mb-3">Our Pricing Plan</h6>
        <h1 class="display-4 text-center mb-5 text-primary">The Best Price</h1>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="bg-light text-center mb-2 pt-4">
                    <div class="d-inline-flex flex-column align-items-center justify-content-center bg-secondary rounded-circle shadow mt-2 mb-4" style="width: 200px; height:200px; border: 15px solid #ffffff;">
                        <h3 class="text-white ">Basic</h3>
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top" style="font-size: 22px; line-height: 45px; font-weight: 400!important;" >$</small>49<small class="align-bottom" style="font-size: 16px; line-height: 40px; font-weight: 400!important;">/ Mo</small>
                        </h1>
                    </div>
                    <div class="d-flex flex-column text-muted align-items-center py-3">
                        <p>HTML5 & CSS3</p>
                        <p>Bootstrap 4</p>
                        <p>Responsive Layout</p>
                        <p>Compatible With All Browsers</p>
                    </div>
                    <a href="#" class="btn btn-secondary py-2 px-4">Signup Now</a>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="bg-light text-center mb-2 pt-4">
                    <div class="d-inline-flex flex-column align-items-center justify-content-center bg-primary rounded-circle shadow mt-2 mb-4" style="width: 200px; height:200px; border: 15px solid #ffffff;">
                        <h3 class="text-white ">Standard</h3>
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top" style="font-size: 22px; line-height: 45px; font-weight: 400!important;" >$</small>99<small class="align-bottom" style="font-size: 16px; line-height: 40px; font-weight: 400!important;">/ Mo</small>
                        </h1>
                    </div>
                    <div class="d-flex flex-column align-items-center text-muted py-3">
                        <p>HTML5 & CSS3</p>
                        <p>Bootstrap 4</p>
                        <p>Responsive Layout</p>
                        <p>Compatible With All Browsers</p>
                    </div>
                    <a href="#" class="btn btn-primary py-2 px-4">Signup Now</a>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="bg-light text-center mb-2 pt-4">
                    <div class="d-inline-flex flex-column align-items-center justify-content-center bg-3 rounded-circle shadow mt-2 mb-4" style="width: 200px; height:200px; border: 15px solid #ffffff;">
                        <h3 class="text-white ">Premium</h3>
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top" style="font-size: 22px; line-height: 45px; font-weight: 400!important;" >$</small>149<small class="align-bottom" style="font-size: 16px; line-height: 40px; font-weight: 400!important;">/ Mo</small>
                        </h1>
                    </div>
                    <div class="d-flex flex-column align-items-center text-muted py-3">
                        <p>HTML5 & CSS3</p>
                        <p>Bootstrap 4</p>
                        <p>Responsive Layout</p>
                        <p>Compatible With All Browsers</p>
                    </div>
                    <a href="#" class="btn btn-3 py-2 px-4">Signup Now</a>
                </div>
            </div>
        </div>
    </div>
</div>